/__pycache__
chromadb/chroma.sqlite3
build/*
build
chromadb
old
saves/*.json
saves/*/*.json
saves/*/*/*.json
saves/*/*/*/*.json
saves/*/*/*/*/*
config.json
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/